<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Fortnite Skin Tracker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="purple lighten-2">
    <div class="nav-wrapper">
      <a href="/login"><img id="logo" src="/assets/img/fortniteLogo.png" alt="fortnite logo"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/maker">Add Skin</a></li>
        <li><a href="/skins">My Skins</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/accountPage">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="center-align">My Skins</h1>
  <section id="skins">
  </section>
  <h3><span id="errorMessage"></span></h3>
  <script src="/assets/skinsBundle.js"></script>
</body>
</html>
